html
	margin: 0
	padding: 0
	height: 100%
	width: 100%
	font-family: sans-serif

div
	margin: 0
	padding 0

svg
	position: absolute
	// border: thin solid red

.btn 
	padding: 10px
	text-align: center
	font-size: 13px
	transition: background ease-in-out 400ms
	cursor: pointer
	background: white
	border: thin solid #eee
	&:hover
		background: #eee
	&:active
		background: #ccc
		transition: background ease-in-out 100ms
	&.selected
		background: #bbb

		
	&.save
		background: #a6f7d0
		border: thin solid #82dbb0
		&:hover
			background: #5ae2a1
		&:active
			background: #3ec282

#app
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	// overflow: hidden
	.script-container
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		
		.lines
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
		.stage
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			.zoomer
				position: absolute
				height: 400%
				width: 400%
				left: -150%
				top: -150%
				// border: 2px solid black
				// transform: perspective(1000px) translate3d(0, 0, 0px)

				.panner
					position: absolute
					top: 50%
					left: 50%

