.title Control Panel
.save.btn save
.btn.showunfinished Show Unfinished Branches
.selected-node
	.title Selected Node
	.btn.newconnection Make a New Connection
	.btn.delete Delete this Node
	.text(contenteditable="true")
	.btn.small.descendants Show Descendants
	.btn.small.ancestors Show Ancestors
	.btn.small.labelbranch Only this Branch