.title Control Panel
.save.btn save
.btn.showunfinished Show Unfinished Branches
.selected-node
	.title Selected Node
	.text(contenteditable="true")
	.btn.descendants Show Descendants
	.btn.ancestors Show Ancestors
	.btn.labelbranch Only this Branch