
svg(width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" data-id=source )
	//- text(x="0" y="35" font-family="Verdana" font-size="25")=source
	//- text(x="0" y="60" font-family="Verdana" font-size="25")=dest
	line(x1="0" y1="0" x2="100" y2="100" stroke-width="2" stroke="black")